# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store

*.local

*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# Vite
docs/.vitepress/dist
docs/.vitepress/cache