@font-face {
  font-family: "munken-sans";
  src:
    url("/fonts/munken-sans/MunkenSansWeb-Regular.woff2") format("woff2"),
    url("/fonts/munken-sans/MunkenSansWeb-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "munken-sans";
  src:
    url("/fonts/munken-sans/MunkenSansWeb-Medium.woff2") format("woff2"),
    url("/fonts/munken-sans/MunkenSansWeb-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "munken-sans";
  src:
    url("/fonts/munken-sans/MunkenSansWeb-Bold.woff2") format("woff2"),
    url("/fonts/munken-sans/MunkenSansWeb-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
}

:root {
  --sl-font-system: "munken-sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
