@import './reset.css';
@import './tokens/animation.css';
@import './tokens/color.css';
@import './tokens/sizes.css';
@import './base.css';
@import './fonts.css';
@import './helpers.css';
@import './typography.css';

#app {
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}
