:root {
  --hue: 80;
  --warmth: 10%;
  /* Base UI color */
  --ui-mono-100: hsl(var(--hue), var(--warmth), 100%);
  --ui-mono-95: hsl(var(--hue), var(--warmth), 95%);
  --ui-mono-90: hsl(var(--hue), var(--warmth), 90%);
  --ui-mono-80: hsl(var(--hue), var(--warmth), 80%);
  --ui-mono-70: hsl(var(--hue), var(--warmth), 70%);
  --ui-mono-60: hsl(var(--hue), var(--warmth), 60%);
  --ui-mono-50: hsl(var(--hue), var(--warmth), 50%);
  --ui-mono-40: hsl(var(--hue), var(--warmth), 40%);
  --ui-mono-30: hsl(var(--hue), var(--warmth), 30%);
  --ui-mono-20: hsl(var(--hue), var(--warmth), 20%);
  --ui-mono-10: hsl(var(--hue), var(--warmth), 10%);
  --ui-mono-5: hsl(var(--hue), var(--warmth), 5%);
  --ui-mono-0: hsl(var(--hue), var(--warmth), 0%);

  /* Key accent/brand color */
  --ui-accent-100: hsla(148, 100%, 39%, 1);
  --ui-accent-90: hsla(148, 100%, 39%, 0.9);
  --ui-accent-80: hsla(148, 100%, 39%, 0.8);
  --ui-accent-70: hsla(148, 100%, 39%, 0.7);
  --ui-accent-60: hsla(148, 100%, 39%, 0.6);
  --ui-accent-50: hsla(148, 100%, 39%, 0.5);
  --ui-accent-40: hsla(148, 100%, 39%, 0.4);
  --ui-accent-30: hsla(148, 100%, 39%, 0.3);
  --ui-accent-20: hsla(148, 100%, 39%, 0.2);
  --ui-accent-10: hsla(148, 100%, 39%, 0.1);

  /* UI color system */
  --ui-0: var(--ui-mono-0);
  --ui-5: var(--ui-mono-5);
  --ui-10: var(--ui-mono-10);
  --ui-20: var(--ui-mono-20);
  --ui-30: var(--ui-mono-30);
  --ui-40: var(--ui-mono-40);
  --ui-50: var(--ui-mono-50);
  --ui-60: var(--ui-mono-60);
  --ui-70: var(--ui-mono-70);
  --ui-80: var(--ui-mono-80);
  --ui-90: var(--ui-mono-90);
  --ui-95: var(--ui-mono-95);
  --ui-100: var(--ui-mono-100);
  --ui-weight: 2px;
  --ui-radius: 2px;
  --ui-shadow: 0 0 0px var(--ui-weight) rgba(0, 0, 0, 0.05);
  --ui-card-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.1);
  --ui-shadow-accent: 0 0 0px var(--ui-weight) var(--ui-accent-100);

  /* Animation */
  --easing: cubic-bezier(0.33, 1, 0.68, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ui-0: var(--ui-mono-100);
    --ui-95: var(--ui-mono-95);
    --ui-10: var(--ui-mono-90);
    --ui-30: var(--ui-mono-70);
    --ui-20: var(--ui-mono-80);
    --ui-40: var(--ui-mono-60);
    --ui-50: var(--ui-mono-50);
    --ui-60: var(--ui-mono-40);
    --ui-70: var(--ui-mono-30);
    --ui-80: var(--ui-mono-20);
    --ui-90: var(--ui-mono-10);
    --ui-95: var(--ui-mono-5);
    --ui-100: var(--ui-mono-0);
    --ui-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.15);
  }
}
