:root {
  /* Base hue and saturation values for global primary color */
  --mono-base: 80, 8%;
  --ui-mono-100: hsl(var(--mono-base), 99%);
  --ui-mono-95: hsl(var(--mono-base), 95%);
  --ui-mono-90: hsl(var(--mono-base), 90%);
  --ui-mono-80: hsl(var(--mono-base), 80%);
  --ui-mono-70: hsl(var(--mono-base), 70%);
  --ui-mono-60: hsl(var(--mono-base), 60%);
  --ui-mono-50: hsl(var(--mono-base), 50%);
  --ui-mono-40: hsl(var(--mono-base), 40%);
  --ui-mono-30: hsl(var(--mono-base), 30%);
  --ui-mono-20: hsl(var(--mono-base), 20%);
  --ui-mono-10: hsl(var(--mono-base), 10%);
  --ui-mono-5: hsl(var(--mono-base), 5%);
  --ui-mono-0: hsl(var(--mono-base), 1%);

  --ui-green-100: hsl(133, 84%, 54%);

  /* Base HSL values for global primary color */
  /* Warn green */
  --primary-base: 138, 100%, 39%;

  /* Mint green */
  --primary-base: 138, 100%, 39%;

  /* Purple */
  --primary-base: 245, 100%, 65%;

  /* Key primary/brand color */
  --ui-primary-100: hsla(var(--primary-base), 1);
  --ui-primary-90: hsla(var(--primary-base), 0.9);
  --ui-primary-80: hsla(var(--primary-base), 0.8);
  --ui-primary-70: hsla(var(--primary-base), 0.7);
  --ui-primary-60: hsla(var(--primary-base), 0.6);
  --ui-primary-50: hsla(var(--primary-base), 0.5);
  --ui-primary-40: hsla(var(--primary-base), 0.4);
  --ui-primary-30: hsla(var(--primary-base), 0.3);
  --ui-primary-20: hsla(var(--primary-base), 0.2);
  --ui-primary-10: hsla(var(--primary-base), 0.1);

  /* UI color system */
  --ui-0: var(--ui-mono-0);
  --ui-5: var(--ui-mono-5);
  --ui-10: var(--ui-mono-10);
  --ui-20: var(--ui-mono-20);
  --ui-30: var(--ui-mono-30);
  --ui-40: var(--ui-mono-40);
  --ui-50: var(--ui-mono-50);
  --ui-60: var(--ui-mono-60);
  --ui-70: var(--ui-mono-70);
  --ui-80: var(--ui-mono-80);
  --ui-90: var(--ui-mono-90);
  --ui-95: var(--ui-mono-95);
  --ui-100: var(--ui-mono-100);
  --ui-weight: 2px;
  --ui-radius: 2px;
  --ui-shadow-10: 0 0 0px var(--ui-weight) hsla(var(--mono-base), 40%, 0.15);
  --ui-shadow-25: 0 0 0px var(--ui-weight) hsla(var(--mono-base), 40%, 0.25);
  --ui-shadow-primary: 0 0 0px var(--ui-weight) var(--ui-primary-100);

  /* Animation */
  --easing: cubic-bezier(0.22, 1, 0.36, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ui-0: var(--ui-mono-100);
    --ui-95: var(--ui-mono-95);
    --ui-10: var(--ui-mono-90);
    --ui-30: var(--ui-mono-70);
    --ui-20: var(--ui-mono-80);
    --ui-40: var(--ui-mono-60);
    --ui-50: var(--ui-mono-50);
    --ui-60: var(--ui-mono-40);
    --ui-70: var(--ui-mono-30);
    --ui-80: var(--ui-mono-20);
    --ui-90: var(--ui-mono-10);
    --ui-95: var(--ui-mono-5);
    --ui-100: var(--ui-mono-0);
    --ui-shadow-10: 0 0 0px var(--ui-weight) hsla(var(--mono-base), 90%, 0.15);
    --ui-shadow-25: 0 0 0px var(--ui-weight) hsla(var(--mono-base), 90%, 0.25);
  }
}
