.scrollable {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 3px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 1);
}
