@font-face {
  font-family: 'GeneralSans-Variable';
  src:
    url('/fonts/general-sans/GeneralSans-Variable.woff2') format('woff2'),
    url('/fonts/GeneralSans-Variable.woff') format('woff'),
    url('/fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-feature-settings: 'ss01';
}
/* 
@font-face {
  font-family: 'Munken Sans';
  src:
    url('/fonts/munken-sans/MunkenSansWeb-Regular.woff2') format('woff2'),
    url('/fonts/munken-sans/MunkenSansWeb-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Munken Sans';
  src:
    url('/fonts/munken-sans/MunkenSansWeb-Medium.woff2') format('woff2'),
    url('/fonts/munken-sans/MunkenSansWeb-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'Munken Sans';
  src:
    url('/fonts/munken-sans/MunkenSansWeb-Bold.woff2') format('woff2'),
    url('/fonts/munken-sans/MunkenSansWeb-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
} */
