:root {
  --app-menu-width: 240px;
  --ui-weight: 2px;
  --ui-radius: 2px;
  --card-radius: 2px;
  --size-2: 2px;
  --size-4: 4px;
  --size-8: 8px;
  --size-12: 12px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-36: 36px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
  --size-64: 64px;
}
